global:
  llm: openai
  
  mistral:
    api: XXXXXXXXXXXXXXXXXXXXXXXX
  
  openai:
    api: XXXXXXXXXXXXXXXXXXXXXXXX

  sessions: /xxxx/ # Path for the session storage directory

  user_datadir: ./data/users/
  
  

  idfm:
    token: XXXXXXXXXXXXXXXXXXXXXXXX


users:
  - username: user1
    password: password1
    admin: true  # Optional: Set to true to make this user an administrator (default: false)
    memory: true
    services:

      calendar:
        user: botname
        password: botpassword
        url: 'https://xxxxxx/remote.php/dav/'
     
      todo:
        user: botname
        password: botname
        url: 'https://xxxxxxxx/remote.php/dav/'
      
      obsidian:
        vault: /home/xxxxxx/Obsidian/xxxxx/
        defaultNote: Inbox/Notes.md
        defaultDir: Inbox
      
      # Need Anki-connect HTTP add on
      anki:
        url: http://localhost:8765
        db_dir: data/user1/anki/
        username: xxxx
        password: xxxx
  
    # Pronote login documentation: https://github.com/bain3/pronotepy/blob/master/docs/source/quickstart.rst
      # Procedure:
      # Generate a QR Code on the Pronote Website
      # Screenshot it
      # zbarimg Pictures/Screenshots/Screenshot.png
      # Run: python3 -m pronotepy.create_login
      # Get a json
      # Copy the content of the json in the file
      # Run the application whitin 10 minutes
      pronote:
      - name: child1
        token: data/child1.json
        cache: data/child1.sqlite
      
      kwyk:
        username: xxxxxxx
        password: xxxxxxx
        id: "aaaaa"
        cache_db: "data/users/all/kwyk.sqlite"

    personalContext: |
      bla bla bla
