mistralai
caldav
PyYAML
cherrypy
openai
pronotepy==2.14.2
beautifulsoup4
pytz
requests

anki
timezonefinder
google-generativeai
firebase_admin
feedparser
litellm
paramiko
watchdog
deebot-client
aiohttp #==3.10.0


# For unittest
pytest
